<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset=utf-8">
		<title>ESA SCADA</title>
		<style>
			body {font: 12px Arial;	background: #f8f8f8;}
			header {font: 20px Arial; padding: 5px; color: #1e90ff; background: #f0f8ff;}
			button {font: 12px Arial; text-align: left;}
		</style>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript" src="static/js/meter.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
    </script>
	</head>
	<body>
		<header>АГЕНТСТВО ЭНЕРГЕТИЧЕСКИХ РЕШЕНИЙ</header>
		<form id="navigationform">
			<table>
				<tr>
					<td><button buttontype="submit" formmethod="get" formaction="{% url 'about'%}">О САЙТЕ</button></td>
				</tr>
			</table>
		</form>
		{% block content %} {% endblock %}
		<div id="chart_div" style="width: 400px; height: 120px;"></div>
		<p id="result">
		</p>
	</body>
</html>